{% extends "layout.html" %}
<head>
    <title>All Users</title>
</head>
<body>
{% block content %}
<table class="display_table">
<tr>
    <th>Username</th>
    <th>Email</th>
    <th>Number of Questions</th>
    <th>Number of Answers</th>
    <th>Number of Comments</th>
    <th>Reputation</th>
</tr>

    {% for d in data %}
        <tr>
        <td>{{ d.username }}</td>
        <td>{{ d.email }}</td>
        <td>{{ d.question }}</td>
        <td>{{ d.answer }}</td>
        <td>{{ d.comment }}</td>
        <td>{{ d.reputation }}</td>
</tr>
    {% endfor %}

</table>
{% endblock %}
</body>