<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if form_type == 1 %}
            <title>Ask a Question | AskMate</title>
    {% elif form_type == 2%}
            <title>Edit Question | AskMate</title>
    {% elif form_type == 3%}
            <title>Answer Question | AskMate</title>
    {% endif %}
</head>
<body>
    {% if form_type == 1 %}
        <form action="/add-question", method="post">
            <h2>Ask a Question</h2>
            <label for="title_input">Title:</label>
            <input id="title_input" name="title" type="text">
            <label for="question_input">Ask a question:</label>
            <textarea id="question_input" name="message" rows="8" cols="80" required></textarea>
            <button id="submit_button" style="position:relative; top:35px; left:-90px;" type="submit">Submit Question</button>
        </form>
    {% elif form_type == 2%}
            <form action="/question/{{ question_data['id'] }}/edit", method="post">
            <h2>Edit Question</h2>
            <label for="title_input">Title:</label>
            <input id="title_input" name="title" type="text" value={{ question_data['title'] }}>
            <label for="question_input">Edit the question:</label>
            <textarea id="question_input" name="message" rows="8" cols="80" required>{{ question_data['message'] }}</textarea>
            <button id="submit_button" style="position:relative; top:35px; left:-90px;" type="submit">Submit Question</button>
    {% elif form_type == 3%}
            <h2>Answer Question</h2>
    {% elif form_type == 4%}
        <h1>Display question</h1>
        <table style="width: 60%">

            {% for key, values in get_question.items() %}
        <tr>
                <th>{{ key }}</th>
        </tr>
        <tr>
                <td>{{ values }}</td>
        </tr>

        {% endfor %}
        </table>
    {% endif %}
</body>
</html>