{% extends "layout.html" %}

{% block content %}

    {% if form_type == 1 %}
        <form action="/add-question" method="post">
            <h2>Ask a Question</h2>
            <input class="input-box" name="title" placeholder="Title" type="text">
            <br><br><br>
            <textarea class="input-textarea" name="message" placeholder="Describe your question ..."  rows="8" cols="45" required></textarea>
            <br><br>
            <button class="submit_button" type="submit">Submit Question</button>
        </form>

    {% elif form_type == 2%}
        <form action="/question/{{ question_data[0]['id'] }}/edit" method="post">
            <h2>Edit Question</h2>
            <input class="input-box" name="title" type="text" value={{ question_data[0]['title'] }}>
            <br><br><br>
            <textarea class="input-textarea" name="message" rows="8" cols="45" required>{{ question_data[0]['message'] }}</textarea>
            <br><br>
            <button class="submit_button"  type="submit">Submit Question</button>
        </form>
    {% endif %}

{% endblock %}