<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
    <header>
        <div id="content">
            <img src="static/images/askmatebitbigger.png" class="ribbon"/>
        </div>
        <div id="logo"></div>
    </header>
        <div class="content-wrapper">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>
