{% extends "layout.html" %}

{% block content %}
        <div class="last_questions">
            <form action='/' method="get">
                <button id="sort_button", type="submit">Sort</button>
                <select id="sortby" name="sortby">
                    <option value="id,ASC">ID - asc</option>
                    <option value="id,DESC">ID - desc</option>
                    <option value="submission_time,ASC" >Submission time - asc</option>
                    <option value="submission_time,DESC" >Submission time - desc</option>
                    <option value="view_number,ASC" >Number of views - asc</option>
                    <option value="view_number,DESC" >Number of views - desc</option>
                    <option value="vote_number,ASC" >Number of votes - asc</option>
                    <option value="vote_number,DESC" >Number of votes - desc</option>
                    <option value="title,ASC" >Title - asc</option>
                    <option value="title,DESC" >Title - desc</option>
                </select>
            </form>
        </div>

        <table id="main_table">
            <tr>
                <th><strong>Question</strong></th>
                <th><strong>Submission time</strong></th>
                <th><strong>Title</strong></th>
                <th><strong>View number</strong></th>
                <th><strong>Vote number</strong></th>

            </tr>

                {% for question in list_of_questions %}
                    <tr>
                        <td><a href="/question/{{ question.id }}">{{ question.id }}</a></td>
                        <td>{{ question.submission_time }}</td>
                        <td>{{ question.title }}</td>
                        <td>{{ question.view_number }}</td>
                        <td>{{ question.vote_number }}</td>
                    </tr>
                {% endfor %}

        </table>
{% endblock %}