
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AskMate</title>
    </head>
    <body>

        <h1><strong>AskMate</strong></h1>
        <table>
            <tr>
                <th><strong>Question</th>
                <th><strong>Submission time</th>
                <th><strong>View number</th>
                <th><strong>Vote number</th>
                <th><strong>Title</th>
                <th><strong>Message</th>
                <th><strong>Image</th>
            </tr>

                {% for question in range(0, len_of_list_of_questions) %}
                    <tr>
                        <td>{{ list_of_questions[question]['id']}}</td>
                        <td>{{ list_of_questions[question]['submission_time']}}</a></td>
                        <td>{{ list_of_questions[question]['view_number']}}</td>
                        <td>{{ list_of_questions[question]['vote_number']}}</td>
                        <td>{{ list_of_questions[question]['title']}}</td>
                        <td>{{ list_of_questions[question]['message']}}</td>
                        <td><a href="list_of_questions[question]['image']]}}"> {{ list_of_questions[question]['image']}}</td>
                    </tr>
                {% endfor %}
            </tr>
        </table>
    </body>
</html>